.git
.gitignore
README.md
*.md
*.env
.env.example
.env
phpunit*
*.log
npm-debug.log
yarn-error.log
# vendor et node_modules sont installés dans le Dockerfile
vendor
node_modules
# NE PAS exclure : storage (recréé par mkdir), public/build (compilé dans le Dockerfile), resources/
